main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100wh;
}
/*imgCont is uesd to split the background
img of homepage*/
.imgCont {
  height: 50vh;
  width: 100%;
  background-size: cover;
}
/* title refers to the 'Night'/'Day'
title on the homepage */
.title {
  font-size: 50px;
  margin-top: 30px;
}
/* mainSubmit contains all the text on
the homepage*/
.mainSubmit {
  position: absolute;
  text-align: center;
  text-decoration: none;
  color: white;
  height: 40vh;
  width: 17%;
  z-index: 1;
}
/* triangle is the black triangle
on the homepage*/
.triangle {
  position: absolute;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-top: 400px solid black;
}
/* pinkTriangle is the pink triangle
on the homepage*/
.pinkTriangle {
  position: absolute;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-top: 500px solid rgba(255, 91, 195, 0.5);
}
/* day is the background for day prompt */
.day {
  background-image: url(https://i.imgur.com/owonS9z.jpg);
  background-size: cover;
}
/* textClock contains writing prompt and alarm*/
.textClock {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 15px;
  font-size: 20px;
}
/* countdown clock component*/
.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 10vh;
  padding: 10px;
  border: 1px solid black;
  background-color: hsla(0, 54%, 3%, 0.4);
  font-size: 40px;
  color: white;
}
/* text area for day and night prompts*/
.writingCenter {
  height: 60vh;
  width: 60vw;
  overflow-y: scroll;
}
/*night input is the contatiner for
the night writing prompts*/
.nightInput {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 80%;
  background-color: rgba(58, 46, 46, 0.8);
  border: 2px solid grey;
  color: white;
}
/* subButton is the submit button
on prompt pages*/
.subButton {
align-self: center;
background-color: hsla(0, 54%, 3%, 0.4);
width: 20vw;
height: 10vh;
border: 2px solid white;
color: white;
font-size: 30px;
}
/* sumComp is a catch all container
for day pages*/
.sumComp {
  background-color: rgba(250, 217, 217, .8);
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}
/* nSumComp is a catch all container
for day pages*/
.nSumComp {
  background-color: hsla(0, 54%, 3%, 1);
  border: 2px solid black;
  color: white;
  text-align: center;
  padding: 10px;
}
/*otherContainer helps style the 
summary page into two columns*/
.otherContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 80%;
  width: 40%;
}
/*contains text editor on summary page*/
.todo {
  height: 85%;
  width: 100%;
  overflow-y: scroll;
  background-color:rgba(250, 217, 217, .8);
  border: 2px solid black;
}
/*contains text editor on summary page*/
.nTodo {
  height: 85%;
  width: 100%;
  overflow-y: scroll;
  background-color: hsla(0, 54%, 3%, 1);
  border: 2px solid black;
  color: white,
}
